<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Fri Feb 21 2014 18:07:54 GMT+0000 (UTC) -->
<html data-wf-site="52f06826a8b031ee5c0003d8">
<head>
  <meta charset="utf-8">
  <title>conceptink - NewsFeed</title>
  <meta name="description" content="ConceptInk is a page meant for both tattoo artists and clients. Are you looking to get a tattoo but don't know what you want? Get inspired or post a request.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/conceptink.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Bitter:400,700","Montserrat:400,700","Changa One:400","Open Sans:300,400,600,700,800","Droid Sans:400,700","Balthazar:regular"]
      }
    });
  </script>
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <link rel="shortcut icon" type="image/x-icon" href="https://y7v4p6k4.ssl.hwcdn.net/52f06826a8b031ee5c0003d8/52f333d35d8eed2b6b000855_favicon.png">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
</head>
<body class="loginwallpaper">
  <div class="w-clearfix logintopsection">
    <h1 class="loginheadingtitle">Sign In</h1>
    <img class="loginlogo" src="images/conceptinkLogo.png" width="158" alt="52f54f8d81b7b76423000087_conceptinkLogo.png">
  </div><a class="loginlogin cancel" href="./">Cancel</a>
  <div class="logninmidsection">
    <div class="loginblock">
      <div class="w-form">
        <form name="email-form" data-name="Email Form" action="./clienthome" data-redirect="./clienthome">
          <input class="w-input loginfield" type="text" placeholder="Enter username" name="username" data-name="Username"></input>
          <input class="w-input loginfield" type="password" placeholder="Enter password" name="password" data-name="Password" required="required"></input>
          <input class="w-button loginbutton" type="submit" value="Connect" data-wait="Please wait..."></input>
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form :(</p>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <script src="/js/introHCI.js"></script>
</body>
</html>